<!doctype html>
<html>
  <head>
    <title>youtube music server</title>
    <script src=/index.js async></script>
    <link rel=stylesheet href=/index.css type=text/css>
  </head>
  <body>
    <header>
      <input type=text id=url value=https://www.youtube.com/watch?v=jNQXAC9IVRw>
    </header>
    <div id=audio-player></div>
    <div id=related></div>
  </body>
</html>

